h4 {
  margin-bottom: 30px;
  font-style: oblique;
}

p {
  margin-bottom: 0px;
}

h3 {
  margin-top: 30px;
}

h2 {
  margin: 25px 0px;
}

.instructions {
  font-style: italic;
  border-bottom: solid grey 2px;
  padding-bottom: 10px;
}

h5 {
  margin: 10px 0px 0px 0px;
}

img {
  height: 200px;
  width: 200px;
  border-radius: 20px;
}

#logo {
  height: 100px;
  width: 100px;
  margin-top: -25px;
}

#random {
  margin-top: 30px;
}

#random-cocktail-btn {
  margin-bottom: 20px;
}

.search {
  background-color: bisque;
}

.drink-details {
  background-color: aliceblue;
}

.heading {
  background-color: lightgrey;
}